body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.header {
    border-bottom: 2px solid #E9F2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 16px;
}
.menu {
    list-style: none;
    display: flex;
}
.menu_item {
    margin-right: 68px;
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    position: relative;
}
.menu_item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    right: -10px;
    bottom: 9px;
    transform: rotate(-45deg);
    background-color: #000;
    display: none;
}
.menu_item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    right: -10px;
    bottom: 2px;
    transform: rotate(45deg);
    background-color: #000;
    display: none;
}
.menu_item:hover {
    transform: translateX(-10px);
}
.menu_item:hover::before {
    display: block;
}
.menu_item:hover::after {
    display: block;
}
.menu_item:last-child {
    margin: 0;
}
.burger {
    width: 40px;
    height: 3px;
    background: #004EBD;
    border-radius: 2px;
    position: relative;
    display: none;
}
.burger::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 3px;
    background: #004EBD;
    border-radius: 2px;
}
.burger::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 40px;
    height: 3px;
    background: #004EBD;
    border-radius: 2px;
}
.promo {
    padding: 16px 0 90px;
    background: #fff url('../img/bg/promo_bg.png') right center no-repeat;
}
.integrations {
    margin: 11px 0 103px;
}
.integrations span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.partners {
    padding-top: 34px;
    display: flex;
    align-items: center;
}
.partners img:nth-child(2) {
    margin: 0 19px;
}
.caption {
    margin-top: 16px;
    max-width: 560px;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    color: #343A40;
}
.ozon {
    color: #0069FF;
}
.topseller {
    color: #696FFB;
}
.mystorage {
    color: #194998;
}
.caption_header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
}
.promo form {
    display: flex;
    max-width: 950px;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 57px;
    border-bottom: 2px solid #E9F2FF;
    position: relative;
}
.promo form input[type='tel'],
.promo form input[type='email'] {
    width: 255px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #4CCEAC;
    padding: 0 20px;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s;
}
.promo form input[type='checkbox'] {
    display: none;
}
.promo label {
    display: block;
    position: relative;
    padding-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    order: 1;
    margin-top: 36px;
}
.promo label::before { /*Окошко для галочки*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #004EBD;
    border-radius: 4px;
}
.checked {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: 1px solid #004EBD;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    display: none;
}
.promo form input[type='submit'] {
    width: 297px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #4CCEAC;
    color: #fff;
    background-color: #4CCEAC;
    padding: 0 20px;
    font-size: 20px;
    transition: all 0.5s;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}
.promo form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgb(48, 131, 109);
}
.promo form input[type='submit']:active {
    background-color: rgb(32, 78, 66);
}
.promo form input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.promo_btns {
    display: flex;
    margin-top: 70px;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: 1px solid #004EBD;
    border-radius: 5px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #004EBD;
    line-height: 20px;
    transition: color 0.5s, background-color 0.5s;
}
.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 50px;
    border: 1px solid #004EBD;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #004EBD;
    line-height: 20px;
    transition: color 0.5s, background-color 0.5s;
}
.price:hover,
.instruction:hover {
    background-color: #004EBD;
    color: #fff;
}
.price:active,
.instruction:active {
    background-color: rgb(0, 40, 95);
}
.telegram {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../icons/telegram.png) center center no-repeat;
    margin-left: 35px;
    transition: transform 0.5s;
}
.telegram:hover {
    transform: rotate(360deg);
}
.cards_item {
    position: absolute;
    width: 308px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #343A40;
    display: flex;
    align-items: center;
    border-left: 7px solid #4CCEAC;
    border-radius: 5px;
    padding-left: 26px;
    transition: box-shadow 0.4s;
}
.cards_item:hover {
    box-shadow: 4px 4px 5px 5px rgba(0,0,0,.5);
}
.cards .synchronization {
    top: 150px;
    right: 400px;
}
.cards .reports {
    top: 310px;
    right: 550px;
}
.cards .automation {
    top: 280px;
    right: 100px;
}
.cards .orders {
    top: 500px;
    right: 580px;
}
.cards .status_orders {
    top: 610px;
    right: 115px;
}
.cards .print_stickers {
    top: 780px;
    right: 450px;
}
.receiving_orders {
    margin-top: 182px;
    padding: 150px 0;
    background: url(../img/bg/receiving_orders_bg.png) right center no-repeat;
}
.receiving_orders .receiving_orders_content {
    max-width: 765px;
}
.section_header {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #343A40;
    text-transform: uppercase;
}
.section_descr {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}
.receiving_orders .receiving_orders_content .tools {
    border-top: 2px solid #4CCEAC;
    margin-top: 46px;
    padding-top: 53px;
}
.mobile_screen { /*Картинка для мобилы*/
    display: none;
}
.receiving_orders .receiving_orders_content .tools .tools_head {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #343A40;
}
.receiving_orders .receiving_orders_content .tools ul {
    margin-top: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: #343A40;
    list-style: none;
}
.receiving_orders .receiving_orders_content .tools ul li {
    position: relative;
}
.receiving_orders .receiving_orders_content .tools ul li::before {
    content: '';
    position: absolute;
    background-color: #4CCEAC;
    width: 10px;
    height: 10px;
    transform: skewX(-20deg);
    top: 14px;
    left: -30px;
}
.synchronization_section {
    min-height: 1020px;
    background: url(../img/bg/synchronization_bg.png) left center no-repeat;
    display: flex;
    align-items: center;
}
.synchronization_section .container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.synchronization_section .synchronization_content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.print {
    background: url(../img/bg/print_bg.png) right center no-repeat;
}
.print_content {
    max-width: 1030px;
    padding-bottom: 100px;
}
.print_content .print_cards {
    border-top: 2px solid #4CCEAC;
    margin-top: 71px;
    padding-top: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.print_mobile {
    display: none;
}
.print_content .print_cards .print_cards_item {
    box-sizing: border-box;
    width: 500px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-left: 7px solid #004EBD;
    border-radius: 5px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #343A40;
    background-color: #fff;
    transition: box-shadow 0.5s;
}
.print_content .print_cards .print_cards_item:hover {
    box-shadow: 4px 4px 5px 5px rgba(0,0,0,.5);
}
.print_content .print_cards .print_cards_item:nth-child(1),
.print_content .print_cards .print_cards_item:nth-child(2) {
    margin-bottom: 30px;
}
.orders_section {
    background: url(../img/bg/orders_bg.png) left center no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 200px 0;
}
.orders_section .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.orders_section .container .orders_content {
    max-width: 642px;
}
.orders_section .container .orders_content .orders_border {
    border-top: 2px solid #4CCEAC;
    margin-top: 30px;
    padding-top: 30px;
}
.analitycs {
    margin-top: 241px;
    overflow: hidden;
}
.analitycs_content {
    position: relative;
    padding-bottom: 50px;
}
.analitycs_content h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.analitycs_content .section_descr {
    display: block;
    margin: 25px auto 0;
    text-align: center;
}
.analitycs_content .profit {
    background: #fff;
    margin: 77px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    border-radius: 50px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.analitycs_content .profit_second {
    display: none;
}
.analitycs_content .profit_head {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #004EBD;
    width: 490px;
}
.analitycs_content .profit_descr {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #333333;
    max-width: 490px;
}
.btns {
    margin: 0 auto;
    position: absolute;
    top: 235px;
    left: 0;
    right: 0;
    width: 120px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}
.prev_btn {
    content: '';
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #004EBD 0%, #1274FF 100%), #C4C4C4;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}
.prev_btn::before {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 19px;
    border-radius: 2px;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
    transition: transform 0.5s;
}
.prev_btn:hover::before {
    transform: rotate(45deg) translate(-4px, 4px);
}
.next_btn {
    content: '';
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #004EBD 0%, #1274FF 100%), #C4C4C4;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}
.next_btn::before {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 80px;
    border-radius: 2px;
    transform: rotate(-45deg);
    border-top: none;
    border-left: none;
    transition: transform 0.5s;
}
.next_btn:hover::before {
    transform: rotate(-45deg) translate(4px, 4px);
}
.analitycs_content .right_img {
    background: #fff url(../img/bg/analytics_right_bg.png) left center no-repeat;
    position: absolute;
    top: 300px;
    right: -700px;
    height: 585px;
    width: 1185px;
    box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 100px;
    box-sizing: border-box;
}
.analitycs_content .left_img {
    background: #fff url(../img/bg/analytics_left_bg.png) left center no-repeat;
    position: absolute;
    top: 300px;
    left: -700px;
    height: 585px;
    width: 1185px;
    box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 100px;
    box-sizing: border-box;
}
.documents_section {
    background: url(../img/bg/documents_bg.png) right center no-repeat;
}
.documents_section_content {
    padding: 330px 0 365px;
    max-width: 632px;
}
.highlight_text {
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #004EBD;
}
.reviews_section {
    margin-top: 135px;
    overflow: hidden;
    padding-bottom: 30px;
}
.reviews_content {
    position: relative;
}
.reviews_section .section_header {
    text-align: center;
}
.review {
    margin: 62px auto 0;
    padding: 120px 80px 0;
    width: 1012px;
    min-height: 456px;
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.review_center {
    z-index: 1;
}
.review_author {
    display: flex;
}
.author_img {
    height: 119px;
    width: 119px;
    border-radius: 50%;
    background-color: #F4F5FF;
}
.author_descr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
}
.author_name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #343A40;
}
.company_name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(52, 58, 64, 0.5);
}
.author_contact {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #004EBD;
}
.review_text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: #343A40;
    padding-top: 60px;
}
.review_left {
    position: absolute;
    top: 150px;
    right: -580px;
    min-height: 387px;
    z-index: -1;
    margin: 0;
}
.review_right {
    position: absolute;
    top: 150px;
    left: -250px;
    min-height: 387px;
    z-index: -1;
    margin: 0;
}
.btns_reviews {
    top: 95px;
}
.reviews_btn_left {
    content: '';
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #004EBD 0%, #1274FF 100%), #C4C4C4;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}
.reviews_btn_right {
    content: '';
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #004EBD 0%, #1274FF 100%), #C4C4C4;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}
.reviews_btn_left::before {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 19px;
    border-radius: 2px;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
    transition: transform 0.5s;
}
.reviews_btn_left:hover::before {
    transform: rotate(45deg) translate(-4px, 4px);
}
.reviews_btn_right::before {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 80px;
    border-radius: 2px;
    transform: rotate(-45deg);
    border-top: none;
    border-left: none;
    transition: transform 0.5s;
}
.reviews_btn_right:hover::before {
    transform: rotate(-45deg) translate(4px, 4px);
}
.pricelist_section {
    margin-top: 168px;
}
.pricelist_section h2 {
    text-align: center;
}
.pricelist_section p {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 632px;
    margin-top: 35px;
}
.pricelist_section .payment {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #343A40;
    margin-top: 39px;
}
.pricelist_function {
    display: flex;
    justify-content: space-between;
    max-width: 867px;
    margin: 39px auto 0;
}
.pricelist_function ul {
    list-style: none;
    position: relative;
    padding: 0;
}
.pricelist_function ul li {
    padding-top: 10px;
}
.pricelist_function ul li::before {
    content: '';
    position: absolute;
    background-color: #4CCEAC;
    width: 10px;
    height: 10px;
    transform: skewX(-20deg);
    top: 14px;
    left: -30px;
}
.pricelist_function ul li::after {
    content: '';
    position: absolute;
    background-color: #4CCEAC;
    width: 10px;
    height: 10px;
    transform: skewX(-20deg);
    top: 44px;
    left: -30px;
}
.pricelist_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
}
.pricelist_card {
    width: 450px;
    height: 405px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(60, 66, 196, 0.1);
    border-radius: 5px;
    border-bottom: 5px solid #004EBD;
}
.pricelist_card .mounths {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #343A40;
    text-align: center;
}
.pricelist_card .price_text {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #004EBD;
    margin-top: 20px;
}
.pricelist_card .border {
    height: 2px;
    width: 337px;
    background: #4CCEAC;
    margin: 69px auto;
}
.pricelist_card .advantage {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #004EBD;
    margin-bottom: 10px;
}
.all_function {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #343A40;
    text-align: center;
}
.pricelist_cards > div:nth-child(2) {
    width: 500px;
    height: 485px;
}
.instruction_section {
    margin-top: 195px;
    position: relative;
}
.instruction_section .section_header {
    text-align: center;
}
.instruction_section .screenshots {
    margin-top: 127px;
    position: relative;
    overflow: hidden;
}
.instruction_section .screenshot {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.instruction_section .center_screen {
    background: url(../img/center_instructions_img.png) center center no-repeat;
    width: 1240px;
    height: 363px;
    margin: 0 auto;
}
.instruction_section .right_screen {
    background: url(../img/right_instructions_img.png) center center no-repeat;
    width: 996px;
    height: 291px;
    position: absolute;
    top: 40px;
    right: -200px;
    opacity: 0.5;
    z-index: -1;
}
.instruction_section .left_screen {
    background: url(../img/left_instructions_img.png) center center no-repeat;
    width: 996px;
    height: 291px;
    position: absolute;
    top: 40px;
    left: -200px;
    opacity: 0.5;
    z-index: -1;
}
.instruction_section .steps {
    position: absolute;
    width: 215px;
    height: 57px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(258.58deg, #1274FF 3.2%, #004EBD 99.19%), #004EBD;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 20px 30px 0;
}
.instruction_section .steps .left {
    width: 15px;
    height: 15px;
    border: 4px solid #fff;
    border-radius: 2px;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    transition: transform 0.5s;
}
.instruction_section .steps .left:hover {
    cursor: pointer;
    transform: translateX(-10px) rotate(45deg);
}
.instruction_section .steps .step {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
}
.instruction_section .steps .right {
    width: 15px;
    height: 15px;
    border: 4px solid #fff;
    border-radius: 2px;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
    transition: transform 0.5s;
}
.instruction_section .steps .right:hover {
    cursor: pointer;
    transform: translateX(10px) rotate(-45deg);
}
.feedback {
    margin-top: 196px;
}
.feedback h2 {
    text-align: center;
}
.feedback .feedback_form {
    max-width: 1162px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
}
.feedback .feedback_form input {
    border-radius: 5px;
    border: 1px solid #4CCEAC;
    padding: 0 20px;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s;
    box-sizing: border-box;
    height: 70px;
    width: 30%;
    transition: all 0.5s;
    margin-bottom: 36px;
}
.feedback .feedback_form input[type='submit'] {
    height: 70px;
    border-radius: 5px;
    border: 1px solid #4CCEAC;
    color: #fff;
    background-color: #4CCEAC;
    padding: 0 20px;
    font-size: 20px;
    transition: all 0.5s;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}
.feedback .feedback_form input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.feedback .feedback_form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgb(48, 131, 109);
}
.feedback .feedback_form input[type='checkbox'] {
    display: none;
}
.feedback label {
    display: block;
    position: relative;
    padding-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    order: 1;
}
.feedback label::before { /*Окошко для галочки*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #004EBD;
    border-radius: 4px;
}
.checked_footer {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: 1px solid #004EBD;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    display: none;
}
footer {
    margin: 111px 0 69px;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 84px;
    border-top: 1px solid gray;
    padding-top: 65px;
}
.footer_content .logo {
    display: flex;
}
.footer_content ul {
    list-style: none;
    padding: 0;
}
.footer_content ul li {
    padding-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
}
.footer_content ul li a {
    text-decoration: none;
    color: #343A40;
}
.footer_content .rules ul li:last-child {
    padding-bottom: 0;
}

@media (max-width: 1920px) {
    .promo label {
        display: block;
        position: relative;
        padding-left: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        order: 0;
        margin-top: 0;
        margin-left: 30px;
        width: 255px;
    }
    .promo form {
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 660px;
    }
    .promo form input[type='tel'],
    .promo form input[type='email'] {
        width: 255px;
        height: 70px;
        border-radius: 5px;
        border: 1px solid #4CCEAC;
        padding: 0 20px;
        font-size: 20px;
        margin: 0 20px 20px;
        transition: all 0.3s;
    }
    .promo form input[type='email'] {
        margin-right: 0;
    }
    .promo form input[type='checkbox'] {
        display: none;
    }
    .promo {
        background: #fff url('../img/bg/promo_bg.png') right center no-repeat;
    }
    .cards_item {
        max-width: 228px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #343A40;
    }
    .promo_btns {
        max-width: 660px;
        justify-content: space-between;
    }
    .receiving_orders {
        background: url(../img/bg/receiving_orders_bg.png) 1000px center no-repeat;
    }
    .prev_btn {
        right: 300px;
    }
    .next_btn {
        right: 230px;
    }
    .reviews_btn_right {
        right: 300px;
    }
    .reviews_btn_left {
        right: 370px;
    }
}
@media (max-width: 1580px) {
    .cards_item {
        max-width: 180px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #343A40;
    }
    .promo {
        background: #fff url('../img/bg/promo_bg.png') 800px center no-repeat;
    }
    .cards .synchronization {
        top: 250px;
        right: 110px;
    }
    .cards .reports {
        top: 370px;
        right: 110px;
    }
    .cards .automation {
        top: 490px;
        right: 110px;
    }
    .cards .orders {
        top: 610px;
        right: 110px;
    }
    .cards .status_orders {
        top: 730px;
        right: 110px;
    }
    .cards .print_stickers {
        top: 850px;
        right: 110px;
    }
    .receiving_orders {
        background: url(../img/bg/receiving_orders_bg.png) 650px center no-repeat;
    }
    .receiving_orders .receiving_orders_content {
        max-width: 650px;
    }
    .synchronization_section {
        background: url(../img/bg/synchronization_bg.png) -250px center no-repeat;
    }
    .print_content {
        max-width: 800px;
    }
    .print_cards_item {
        margin-bottom: 30px;
    }
    .print_cards_item:last-child {
        margin-bottom: 0;
    }
    .orders_section {
        background: url(../img/bg/orders_bg.png) -300px center no-repeat;
    }
    .documents_section {
        background: url(../img/bg/documents_bg.png) 700px center no-repeat;
    }
}
@media (max-width: 1200px) {
    .receiving_orders {
        margin-top: 0;
    }
    .synchronization_section {
        background: url(../img/bg/synchronization_bg.png) -600px center no-repeat;
        margin-top: 0;
    }
    .print_content {
        padding-top: 0;
    }
    .print {
        background: url(../img/bg/print_bg.png) 550px center no-repeat;
    }
    .print_content {
        max-width: 650px;
    }
    .orders_section {
        background: url(../img/bg/orders_bg.png) -450px center no-repeat;
    }
    .orders_section .container .orders_content {
        max-width: 500px;
    }
    .analitycs_content .profit {
        width: 900px;
        min-height: 450px;
        background-size: cover;
    }
    .analitycs_content .profit_head {
        width: 350px;
        font-size: 20px;
    }
    .analitycs_content .profit_descr {
        width: 350px;
        font-size: 15px;
        line-height: 20px;
        box-sizing: border-box;
        padding: 0 25px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    header nav {
        display: none;
    }
    .header {
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 20px;
    }
    .burger {
        display: block;
    }
    .promo {
        background: #fff url(../img/bg/promo_bg.png) right 208px no-repeat;
        background-size: 450px 571px;
    }
    .integrations {
        margin: 0px 0 55px;
    }
    .partners {
        padding-top: 0;
        justify-content: center;
    }
    .caption .caption_header {
        font-size: 20px;
        text-align: center;
        margin-top: 37px;
        margin-bottom: 500px;
    }
    .caption .caption_header p {
        margin: 0;
    }
    .cards_item {
        height: 25px;
        max-width: 274px;
        padding: 13px;
        font-size: 13px;
    }
    .cards .synchronization {
        top: 380px;
        left: 100px;
    }
    .cards .reports {
        top: 450px;
        left: 100px;
    }
    .cards .automation {
        top: 520px;
        left: 100px;
    }
    .cards .orders {
        top: 590px;
        left: 100px;
    }
    .cards .status_orders {
        top: 660px;
        left: 100px;
    }
    .cards .print_stickers {
        top: 730px;
        left: 100px;
    }
    .promo form input[type='tel'], 
    .promo form input[type='email'] {
        width: 100%;
        margin: 0 0 20px;
    }
    .promo label {
        width: 100%;
        margin-left: 0;
        font-size: 15px;
    }
    .promo form input[type='submit'] {
        margin-top: 30px;
        width: 100%;
    }
    .promo_btns {
        flex-wrap: wrap;
    }
    .promo_btns a {
        height: 60px;
    }
    .promo_btns .price {
        width: 250px;
    }
    .promo_btns .instruction {
        order: 1;
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }
    .promo_btns .telegram {
        background-size: cover;
        width: 60px;
        margin-left: 0;
    }
    .section_header {
        font-size: 22px;
        line-height: 27px;
        text-align: center;
    }
    .section_descr {
        text-align: justify;
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px;
    }
    .receiving_orders {
        padding: 0;
        background: #fff;
    }
    .mobile_screen {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .receiving_orders .receiving_orders_content .tools .tools_head {
        text-align: center;
    }
    .synchronization_section {
        min-height: 0;
        background: #fff;
        margin-top: 70px;
    }
    .print {
        margin-top: 70px;
    }
    .print_mobile_version {
        display: flex;
        margin-top: 40px;
    }
    .print_mobile {
        display: block;
        width: 150px;
    }
    .orders_section {
        padding: 0;
        background: #fff;
    }
    .analitycs {
        margin-top: 70px;
    }
    .btns {
        display: none;
    }
    .analitycs_content .left_img,
    .analitycs_content .right_img {
        display: none;
    }
    .analitycs_content .profit img {
        width: 100%;
    }
    .analitycs_content .profit {
        width: 80%;
        margin-left: 0;
        margin-right: 50px;
    }
    .analytics_card {
        text-align: center;
    }
    .flex_card {
        display: flex;
        overflow: scroll;
        padding-bottom: 50px;
        box-sizing: border-box;
        padding-left: 20px;
    }
    .analitycs_content .profit_second {
        display: block;
    }
    .documents_section {
        margin-top: 90px;
    }
    .documents_section_content {
        padding: 0;
    }
    .documents_mobile {
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-bottom: 50px;
    }
    .reviews_section {
        margin-top: 73px;
    }
    .review {
        min-width: 60%;
        padding: 70px 40px;
        margin: 41px 50px 0 0;
    }
    .review_text {
        font-size: 14px;
        line-height: 25px;
    }
    .review_author {
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-align: center;
    }
    .author_descr {
        margin-left: 0;
    }
    .author {
        margin-top: 15px;
    }
    .author_name {
        margin-top: 5px;
    }
    .company_name {
        margin-top: 5px;
    }
    .author_contact {
        margin-top: 5px;
    }
    .review_left {
        display: none;
    }
    .review_right {
        position: initial;
    }
    .reviews_flex {
        display: flex;
        overflow: scroll;
        padding-bottom: 50px;
        box-sizing: border-box;
        padding-left: 20px;
    }
    .pricelist_section {
        margin-top: 100px;
    }
    .pricelist_function {
        display: none;
    }
    .pricelist_cards {
        overflow: scroll;
        justify-content: flex-start;
        padding: 10px 15px;
    }
    .pricelist_card {
        margin-right: 30px;
        box-shadow: 0px 0px 10px rgba(60, 66, 196, 0.5);
    }
    .pricelist_cards > div:nth-child(2) {
        width: 450px;
        height: 405px;
    }
    .instruction_section .screenshots {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        padding: 30px 0;
    }
    .instruction_section .center_screen {
        min-width: 60%;
        margin: 0 20px;
    }
    .instruction_section .steps {
        display: none;
    }
    .instruction_section .right_screen,
    .instruction_section .left_screen {
        display: none;
    }
    .feedback .feedback_form input {
        width: 100%;
    }
    .footer_content {
        flex-wrap: wrap;
    }
    .footer_content .logo {
        display: block;
        margin: 0 auto 32px;
    }
    .footer_content > div {
        min-width: 70%;
        margin: 0 auto;
    }
}